<%- include('partials/header'); -%>

    <h1>Compose</h1>
    <form class="" action="/newBlogPost" method="post">
        <div class="form-group">
            <label for="title-text">Title</label>
            <input class="form-control" id="title-text" type="text" name="title" placeholder="" autocomplete="off">
            <label for="title-text">Post</label>
            <textarea class="form-control" id="post-text" rows="4" name="post" placeholder="" autocomplete="off"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="list" value="">Publish</button>
    </form> 

<%- include('partials/footer'); -%>